<div class="container center" ng-controller = "MenuUserViewController">
    <h2>Menú de usuario</h2>
</div>

<div class="row center">

  	<div class="col s6">

    	<button class="btn-large waves-effect waves-light teal lighten-1" id = "formButton" type = "button" ng-click = "functionGoForm()">Añadir incidencia</button>

  	</div>

  	<div class="col s6">

    	<button class="btn-large waves-effect waves-light teal lighten-1" id = "mapButton" type = "button" ng-click = "functionGoMap()">Consultar incidencia</button>

  	</div>

</div>